@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf");
  font-weight: 400 700;
}

:root {
  --neutral900: hsl(227, 75%, 14%);
  --neutral800: hsl(226, 25%, 17%);
  --neutral700: hsl(225, 23%, 24%);
  --neutral600: hsl(226, 11%, 37%);
  --neutral300: hsl(0, 0%, 78%);
  --neutral200: hsl(217, 61%, 90%);
  --neutral100: hsl(0, 0%, 93%);
  --neutral0: hsl(200, 60%, 99%);
  --red400: hsl(3, 86%, 64%);
  --red500: hsl(3, 71%, 56%);
  --red700: hsl(3, 77%, 44%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --logo-icon-filter: brightness(0) saturate(100%) invert(39%) sepia(45%)
    saturate(1148%) hue-rotate(319deg) brightness(111%) contrast(90%);
  --logo-text-filter: brightness(0) saturate(100%) invert(100%) sepia(2%)
    saturate(4874%) hue-rotate(173deg) brightness(100%) contrast(100%);
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "NotoSans", sans-serif;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid var(--red400);
  outline-offset: 2px;
}

body {
  height: 100vh;
  margin: 0 auto;
  background-image: var(--dark-gradient);
  background-attachment: fixed;
}

header {
  padding: 2em;
}

.header__content {
  padding: 0.8em;
  border-radius: 1em;
  /* make this dynamic later */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral800);
}

.wrapper {
  width: 80%;
  max-width: 1150px;
  margin: 0 auto;
}

.logo {
  background-image: url(../assets/images/logo.svg);
  background-repeat: no-repeat;
  display: flex;
}

.logo__icon {
  width: 2.6em;
  height: 2.6em;
  filter: var(--logo-icon-filter);
}

.logo__text {
  height: 2.6em;
  width: 8.75em;
  background-position: -2.5625em 0;
  filter: var(--logo-text-filter);
}

.theme-btn {
  height: 3em;
  width: 3em;
  border: 0;
  border-radius: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--neutral700);
}

.theme-btn:hover {
  background-color: var(--neutral600);
}

.filter-bar {
  margin: 0 auto;
  /* make these dynamic later */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__title {
  font-size: 2em;
  font-weight: 700;
  color: var(--neutral0);
}

.filter__btn {
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 1.2em;
  border: 1px solid var(--neutral600);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  color: var(--neutral0);
  background-color: var(--neutral700);
}

.filter__btn.filter__active {
  margin: 0 0.3em;
}

.filter__btn:hover {
  background-color: var(--neutral600);
}

.btn--selected {
  border-color: var(--red400);
  background-color: var(--red400);
  color: var(--neutral900);
}

.btn--selected:hover {
  border-color: var(--red500);
  background-color: var(--red500);
}

.extensions {
  padding: 0 2em;
  padding-top: 2em;
}

.extensions__content {
  /* margin: 0 auto;  */
  padding-bottom: 4em;
}

.extensions__grid {
  margin-top: 2em;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.extensions__extension {
  border-radius: 1em;
  padding: 1em;
  min-height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--neutral800);
  border: 1px solid var(--neutral600);
}

.extension__info {
  display: flex;
  align-items: flex-start;
}

.extension__logo {
  margin: 0 1em 1em 0;
}

.extension__name {
  padding-bottom: 4px;
  font-size: 1.1em;
  font-weight: 700;
  color: var(--neutral0);
}

.extension__desc {
  font-size: 0.9em;
  font-weight: 400;
  color: var(--neutral300);
}

.extension__controls {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extension__remove-btn {
  padding: 0.5em 1em;
  border-radius: 2em;
  font-size: 1em;
  font-weight: 400;
  transition: background-color 0.2s, border-color 0.2s, color 0.2s;
  border: 1px solid var(--neutral600);
  cursor: pointer;
  color: var(--neutral0);
  background-color: var(--neutral800);
}

.extension__remove-btn:hover {
  border: 1px solid var(--red400);
  color: var(--neutral900);
  background-color: var(--red400);
}
.extension__remove-btn:active {
  background-color: var(--red500);
  border: 1px solid var(--red500);
  color: var(--neutral900);
}

.extension__switch {
  padding: 1px;
  width: 2.8em;
  height: 1.5em;
  border-radius: 1em;
  border: 0;
  transition: background-color 0.4s;
  position: relative;
  cursor: pointer;
  background-color: var(--neutral600);
}

.extension__switch-toggle {
  position: absolute;
  top: 0.2em;
  left: 0.2em;
  width: 1.1em;
  height: 1.1em;
  border-radius: 2em;
  transition: left 0.3s;
  pointer-events: none;
  background-color: var(--neutral0);
}

.extension__switch.toggle--on {
  background-color: var(--red400);
}

.extension__switch.toggle--on:hover {
  background-color: var(--red500);
}

.extension__switch.toggle--on .extension__switch-toggle {
  left: 1.5em;
}

.hide--extension {
  display: none;
}
